* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  overscroll-behavior: none;
}

/* trial font */
@font-face {
  font-family: "TWKLausanne";
  src:
    local("TWKLausanne"), 
    url("./assets/font/TWKLausanne-250.woff2") 
    format("woff2");
    font-weight: 250;
}
@font-face {
  font-family: "TWKLausanne";
  src:
    local("TWKLausanne"), 
    url("./assets/font/TWKLausanne-800.woff2") 
    format("woff2");
    font-weight: 800;
}

body {
  background: white;
  font-family: "TWKLausanne", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 250;
  color: #000;
}
canvas { 
  display:block
}

/* ------------------------------------------------------------------------------ */
/* AQUARIUM */

/* video */
#bkg {
  display: block;
  position: absolute;
  margin: 0px;
  z-index: 0;
  background-color:black;
  width:100%
}

/* modal */
#configurator {
  display: block;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 75vw;
  height: 75vh;
}

/* saving state */
#await-salmon{
  position: absolute;
  z-index: 2000;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

/* ------------------------------------------------------------------------------ */
/* CONFIGURATOR */

#await,
#saving-screen,
#instruction,
#saved-screen{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  font-size: 2vw;
  text-align: center;
  padding: 13vh;
  margin: 0;
}

/* welcome state */
#await {
  position: absolute;
  justify-content: space-between;
  top:45%;
  height: 55%;
  padding-top: 0%;
}

/* box for texts */
#box {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: white;
}

/* saving screen */
#saving-screen {
  justify-content: space-between;
  height: 100%; 
  padding-top: 46vh;
}

/* titles */
.title {
  font-size: 3vw;
   margin: 0;
}

/* configurator text */
#instruction{
  display: none;
  justify-content: end;  
  position: absolute;
  bottom:0;
  padding-top: 0;
}
#instruction p,
.description p{
  margin-top: 0.5rem;
}

/* qr code screen - conf */
#saved-screen {
  justify-content: space-between;
  height: 100%; 
  padding-top: 20vh;
}
#qr{
  margin: 4vh auto;
  height: 25vh;
  width: 25vh;
  padding: 4vh;
  /*  stroke-dasharray='60vh%2c 40vh' stroke-dashoffset='30vh' for pc */
  /*  stroke-dasharray='85%2c 90' stroke-dashoffset='40'  for iPad Brave */
  /* stroke-dasharray='90%2c 103' stroke-dashoffset='42' for iPad Safari */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4vh' stroke-dasharray='90%2c 103' stroke-dashoffset='42' stroke-linecap='square'/%3e%3c/svg%3e");
}

/* ------------------------------------------------------------------------------ */
/* VISUALIZER */

#logo {
  position: absolute;
  z-index: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5vw;
}
#lottie{
  height: 3vh;
}

.viz-ui-container {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  bottom: 0;
  padding-top: 15vw;
}

/* buttons */
#buttons,
#buttons-closed-details,
#overlay{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#buttons,
#buttons-closed-details{
  text-transform: uppercase;
}
#no-buttons{
  display: none;
}
#buttons-closed-details{
  position: absolute;
  z-index: 3;
  bottom: 0;
}
#swims{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}
.change-swim{
  width: 33.33vw;
  padding: 1.8vh 0;
  margin: 0;
  border: 1px solid #000;
  border-bottom: 0;
  border-right-width: 0;
  text-align: center;
}
#swim2{
  border-right: 1px solid #000;
}

#info{
  display: flex;
  justify-content: center;
  border: 2px solid #000;
}
#change-info{
  padding: 2.5vh 0;
  text-align: center;
  width:100vw;
}

/* salmon description */
#overlay{
  height: 100vh;
  z-index: 2;
  overflow: scroll;
  justify-content: space-between;
  padding: 4vh 7vw;
  padding-top: 5vh;
}
#overlay p{
  clear: both;
}
#no-overlay{
  display: none;
}
.bold{
  font-weight: 800;
}
.param-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.param-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 2vh;
}
.param-names{
  width:66vw
}
.param-values{
  text-align: right;
  padding-right: 0;
}
#contact-info{
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a{
  color: #000;
  text-decoration: underline;
}
a:visited {
  color: #000;
}
a:active {
 font-weight: 800;
} 

.active-button0{
  border-width: 2px;
  border-right-width: 1px;
}
.active-button1{
  border-width: 2px;
  border-right-width: 1px;
}
.active-button2{
  border-width: 2px !important;
}

@media only screen and (orientation: landscape) {
  #logo{
    position: absolute;
    z-index: 0;
    padding: 5vh;
    justify-content: end;
  }
  #lottie{
    height: 7vh;
  }

  .viz-ui-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    padding: 3vh;
    padding-right: 0;
    padding-bottom: 0;
    align-items: flex-end;
  }

  #overlay{
    width:79vw;
    padding: 13vh 8vh 4vw 8vh;
  }
 
  #buttons-closed-details{
  position: absolute;
  z-index: 3;
  
  }
  #swims{
    flex-direction: column;
  }
  #info, 
  #swims,
  #buttons,
  #buttons-closed-details,
  .change-swim{
    width: 20vw;
    right:0;
    text-align: center;
  } 

  .change-swim{
    padding: 4vh 0;
    border: 1px solid #000;
    border-bottom-width: 0;
  }
  #change-info{
    padding:7vh 1vw;
    text-align: center;
    width: auto;
  }
  .param-list ul {
    padding-right: 0;
  }
  .param-names{
    width:58.55vw
  }
  
  .active-button0{
    border-width: 2px;
    border-bottom-width: 1px;
  }
  .active-button1{
    border-width: 2px;
    border-bottom-width: 1px;
  }
  .active-button2{
    border-width: 2px;
    border-bottom: 0;
  }
}